baseURL = "https://beta.gregorymignard.com/"
languageCode = "fr"
DefaultContentLanguage = "fr"
title = "Grégory Mignard"
theme = "less"
RemovePathAccents = true
timeout = 200000
enableRobotsTXT = true
canonifyURLs = true


[author]
  name = "Grégory Mignard"

[permalinks]
  posts = "/:slug"
  categories = "/:slug"

[imaging]
  resampleFilter = "lanczos"

[params]
  sizes = [ "2048" , "1024" , "512" ]
  tags = []
  titleFont = "Playfair Display"
  bodyFont = "Montserrat"
hasLogo = true

# heroHeader = true

[taxonomies]
  category = "categories"

[params.titles]

  posts = "Journal"
  categories = "Catégories"

[params.social]
  email = "greg@gregorymignard.com"
  domain = "Grégory Mignard"
  instagram = "gregmignard"
  twitter = "gregmignard"
  youtube = "GregMignard"

[[menu.main]]
  name = "Journal"
  title = "Journal"
  weight = 1
  identifier = "journal"
  url = "/journal/"
[[menu.main]]
  name = "Aventures"
  title = "Aventures"
  weight = 2
  identifier = "aventures"
  url = "/aventures/"
[[menu.main]]
  name = "Guides"
  title = "Guides"
  weight = 3
  identifier = "guides"
  url = "/guides/"
[[menu.main]]
  name = "À propos"
  title = "Infos & Contact"
  weight = 4
  identifier = "infos"
  url = "/infos"
