baseURL = "https://gregorymignard.com/"
languageCode = "fr"
DefaultContentLanguage = "fr"
theme = "less"
googleAnalytics = "UA-61295963-3"
RemovePathAccents = true
timeout = 200000
enableRobotsTXT = true
canonifyURLs = true
paginate = 12


[author]
  name = "Grégory Mignard"

[permalinks]
  posts = "/:slug"
  categories = "/:slug"

[imaging]
  resampleFilter = "lanczos"

[params]
  sizes = [ "2048" , "1024" , "512" ]
  tags = []

  sansSerifFont = "Josefin Sans"
  titleFont = "Fjalla One"
  bodyFont = "IBM Plex Serif"

  hasLogo = true
  accentColor = "#B75636"

#heroHeader = false

[taxonomies]
  category = "categories"

[params.titles]
  posts = "Journal"
  categories = "Catégories"

[params.social]
  email = "greg@gregorymignard.com"
  domain = "Grégory Mignard"
  instagram = "gregmignard"
  twitter = "gregmignard"

[[menu.main]]
  name = "Stills"
  title = "Portfolio"
  weight = 1
  identifier = "stills"
  url = "/"
[[menu.main]]
  name = "Films"
  title = "Films & Documentaires"
  weight = 2
  identifier = "Films"
  url = "/films"
[[menu.main]]
  name = "Blog"
  title = "Récits & Technique"
  weight = 3
  identifier = "blog"
  url = "/posts/"
[[menu.main]]
  name = "Now"
  title = "Infos & Contact"
  weight = 4
  identifier = "now"
  url = "/now"

[[related.indices]]
  name = "categories"
  weight =  1 # We don't really need this, but omitting it would disable the indice.
  includeNewer = true
