baseURL = "https://gregorymignard.com/"
languageCode = "fr"
DefaultContentLanguage = "fr"
theme = "less"
RemovePathAccents = true
timeout = 200000
enableRobotsTXT = true
canonifyURLs = true
paginate = 12

[build]
  writeStats = true

[author]
  name = "Grégory Mignard"

[permalinks]
  posts = "/:slug"
  categories = "/:slug"

[imaging]
  resampleFilter = "lanczos"

[params]
  sizes = [ "2048" , "1024" , "512" ]
  tags = []

  sansSerifFont = "PT Serif"
  titleFont = "Poppins"
  bodyFont = "PT Serif"

  hasLogo = true
  accentColor = "#000000"
  heroHeader = false

[taxonomies]
  category = "categories"

[params.titles]
  posts = "Journal"
  categories = "Catégories"

[params.social]
  email = "hello@gregorymignard.com"
  domain = "Grégory Mignard"
  instagram = "gregmignard"
  threads = "gregmignard"
  linkedin = "gmignard"

[params.tinyletter]
  username = "captainyvon"
  title = "« Slow is beautiful » - Le podcast"
  description = "Un atelier sonore où j'explore avec Jeremy nos passions communes : création, techniques, outdoor... Notre espace pour ralentir et mieux nous comprendre."

[[menu.main]]
  name = "Work"
  title = "Réalisations"
  weight = 1
  identifier = "work"
  url = "https://captainyvon.fr"
[[menu.main]]
  name = "Snaps"
  title = "Des photos du quotidien"
  weight = 2
  identifier = "everyday"
  url = "/everyday"
[[menu.main]]
  name = "Journal"
  title = "Récits & Technique"
  weight = 3
  identifier = "journal"
  url = "/posts/"
[[menu.main]]
  name = "Info"
  title = "Info"
  weight = 6
  identifier = "info"
  url = "/info"

[[related.indices]]
  name = "categories"
  weight =  1 # We don't really need this, but omitting it would disable the indice.
  includeNewer = true

[markup.goldmark.renderer]
  unsafe= true
[security.exec]
  osEnv = [ '(?i)^(PATH|PATHEXT|APPDATA|TMP|TEMP|TERM)$', '^ASDF_DIR$', '^HOME$']
