baseURL = "https://gregorymignard.com/"
languageCode = "fr"
DefaultContentLanguage = "fr"
theme = "less"
googleAnalytics = "UA-61295963-3"
RemovePathAccents = true
timeout = 200000
enableRobotsTXT = true
canonifyURLs = true
paginate = 9


[author]
  name = "Grégory Mignard"

[permalinks]
  posts = "/:slug"
  categories = "/:slug"

[imaging]
  resampleFilter = "lanczos"

[params]
  sizes = [ "2048" , "1024" , "512" ]
  tags = []

  sansSerifFont = "Josefin Sans"
  titleFont = "Montserrat"
  bodyFont = "Lora"

  hasLogo = true
  accentColor = "#285D74"

#heroHeader = true

[taxonomies]
  category = "categories"

[params.titles]
  posts = "Journal"
  categories = "Catégories"

[params.social]
  email = "greg@gregorymignard.com"
  domain = "Grégory Mignard"
  instagram = "gregmignard"
  twitter = "gregmignard"
  youtube = "gregmignard"

[[menu.main]]
  name = "Blog"
  title = "Blog"
  weight = 1
  identifier = "journal"
  url = "/journal/"
[[menu.main]]
  name = "Projets"
  title = "Films, Reportages & Microaventures"
  weight = 2
  identifier = "Projets"
  url = "/projets/"
[[menu.main]]
  name = "Logs"
  title = "Microposts"
  weight = 4
  identifier = "microposts"
  url = "/microposts"
[[menu.main]]
  name = "À propos"
  title = "Infos & Contact"
  weight = 4
  identifier = "infos"
  url = "/infos"
[[menu.main]]
  name = "Studio"
  title = "Captain Yvon Studio"
  weight = 5
  identifier = "studio"
  url = "https://captainyvon.fr/"

[[related.indices]]
  name = "categories"
  weight =  1 # We don't really need this, but omitting it would disable the indice.
  includeNewer = true
