baseURL = "https://gregorymignard.com/"
languageCode = "fr"
DefaultContentLanguage = "fr"
theme = "less"
googleAnalytics = "UA-61295963-3"
RemovePathAccents = true
timeout = 200000
enableRobotsTXT = true
canonifyURLs = true
paginate = 12


[author]
  name = "Grégory Mignard"

[permalinks]
  posts = "/:slug"
  categories = "/:slug"

[imaging]
  resampleFilter = "lanczos"

[params]
  sizes = [ "2048" , "1024" , "512" ]
  tags = []

  sansSerifFont = "Josefin Sans"
  titleFont = "Domine"
  bodyFont = "Nunito Sans"

  hasLogo = true
  accentColor = "#4A85A7"

#heroHeader = false

[taxonomies]
  category = "categories"

[params.titles]
  posts = "Journal"
  categories = "Catégories"

[params.social]
  email = "greg@gregorymignard.com"
  domain = "Grégory Mignard"
  twitter = "gregmignard"
  instagram = "gregmignard"
  youtube = "captainyvon"

[params.tinyletter]
  username = "captainyvon"
  title = "Poursuivre l'aventure"
  description = "Si tu aimes ce que j’écris ici, tu peux me retrouver sur <a href="https://twitter.com/gregmignard" target="_blank" >Twitter</a> & Discord et t'abonner à ma newsletter."
[[menu.main]]
  name = "Home"
  title = "Home"
  weight = 1
  identifier = "home"
  url = "/"
[[menu.main]]
  name = "Grain"
  title = "Archives argentiques"
  weight = 2
  identifier = "grain"
  url = "/grain"
[[menu.main]]
  name = "Blog"
  title = "Récits & Technique"
  weight = 3
  identifier = "blog"
  url = "/posts/"
[[menu.main]]
  name = "À Propos"
  title = "Infos & Contact"
  weight = 4
  identifier = "now"
  url = "/now"

[[related.indices]]
  name = "categories"
  weight =  1 # We don't really need this, but omitting it would disable the indice.
  includeNewer = true

[markup.goldmark.renderer]
  unsafe= true
