[build]
  command = "hugo --gc --minify"
  functions = "api"

[context.production.environment]
  HUGO_VERSION = "0.139.0"
  HUGO_ENV = "production"

[context.deploy-preview]
  command = "hugo -b $DEPLOY_PRIME_URL --gc --minify -D -F"
[context.deploy-preview.environment]
  HUGO_VERSION = "0.139.0"

[context.branch-deploy]
  command = "hugo -b $DEPLOY_PRIME_URL --gc --minify -D -F"
[context.branch-deploy.environment]
  HUGO_VERSION = "0.139.0"

[[headers]]
  for = "*.js" # js files should be set this way
  [headers.values]
    Cache-Control = "public, max-age=31536000"
[[headers]]
  for = "*.jpg" # css files too
  [headers.values]
    Cache-Control = "public, max-age=31536000"
[[headers]]
  for = "*.css" # css files too
  [headers.values]
    Cache-Control = "public, max-age=31536000"
[[redirects]]
  from = "/api/*"
  to= "/.netlify/functions/:splat"
  status = 200
