<footer class="w-full p-12 text-sm">
 <div class="container max-w-4xl mx-auto grid grid-cols-1 lg:grid-cols-4 gap-4">
  <div class="text-l max-w-4xl">
  © {{ now.Format "2006"}} {{ $.Site.Params.social.domain }}</br>
  </div>
  <div>
    <!--Should be template -->
    <ul>
      <li><a href="https://captainyvon.fr/">STUDIO</a></li>
      <li><a href="/equipement/">ÉQUIPEMENT</a></li>
      <li><a href="/go/">LINKS</a></li>
      <li><a href="/now/">INFOS</a></li>
      <li><a href="mailto:{{ $.Site.Params.social.email }}">CONTACT</a></li>
  </div>
 </div>
</footer>
