<div class="mgrid md:flex  flex-wrap justify-end">
{{ range $index, $columns := sort .}}
  {{ $width := 0 }}
  {{ range $cindex, $images := $columns }}
    {{ $subwidth := 0 }}
    {{ range $images.Images }}
      {{/* Dimensions par défaut 16:9 pour les vidéos */}}
      {{ $imgWidth := cond .IsVideo 1920 .Image.Width }}
      {{ $imgHeight := cond .IsVideo 1080 .Image.Height }}
      {{ $subwidth = add $subwidth (div (float $imgHeight) $imgWidth) }}
    {{ end }}
    {{ $width = add $width (div 1.0 $subwidth) }}
  {{ end }}
  {{ range $cindex, $images := $columns }}
      {{ $div := 0 }}
      {{ range $images.Images }}
        {{ $imgWidth := cond .IsVideo 1920 .Image.Width }}
        {{ $imgHeight := cond .IsVideo 1080 .Image.Height }}
        {{ $div = add $div (div (float $imgHeight) $imgWidth) }}
      {{ end }}
      {{ $colwidth := div (div 1.0 $div) $width }}
      {{ if (eq (len $columns) 1) }}
        <div class="md:flex flex-col min-h-full inherit" style="flex: 1 0 {{ mul 100.0 $colwidth -}}%">
          {{ range $images.Images }}
            {{ $imgWidth := cond .IsVideo 1920 .Image.Width }}
            {{ $imgHeight := cond .IsVideo 1080 .Image.Height }}
            {{ if .Blank  }}
              <div style="padding-bottom: {{ div (mul 100.0 $imgHeight) $imgWidth -}}%" class="relative md:block hidden"></div>
            {{ else }}
              {{ if isset . "Link" }}
                <a href="{{ .Link }}">
                  {{ if .IsVideo }}{{ partial "video" . }}{{ else }}{{ partial "photo" . }}{{ end }}
                </a>
              {{ else }}
                {{ if .IsVideo }}{{ partial "video" . }}{{ else }}{{ partial "photo" . }}{{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      {{ else }}
        <div class="flex flex-col min-h-full inherit" style="flex: 1 0 {{ mul 100.0 $colwidth -}}%">
          {{ range $images.Images }}
              {{ $imgWidth := cond .IsVideo 1920 .Image.Width }}
              {{ $imgHeight := cond .IsVideo 1080 .Image.Height }}
              {{ $dimension := div (div (mul 100.0 $imgHeight) $imgWidth) $div }}
              <div style="flex: 1 0  {{ $dimension -}}%">
                {{ if .Blank  }}
                  <div style="padding-bottom: {{ div (mul 100.0 $imgHeight) $imgWidth -}}%" class="relative md:block hidden"></div>
                {{ else }}
                  {{ if isset . "Link" }}
                    <a href="{{ .Link }}">
                      {{ if .IsVideo }}{{ partial "video" . }}{{ else }}{{ partial "photo" . }}{{ end }}
                    </a>
                  {{ else }}
                    {{ if .IsVideo }}{{ partial "video" . }}{{ else }}{{ partial "photo" . }}{{ end }}
                  {{ end }}
                {{ end }}
              </div>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
