<div class="mgrid md:flex  flex-wrap justify-end">
{{ range $index, $columns := sort .}}
  {{ $width := 0 }}
  {{ range $cindex, $images := $columns }}
    {{ $subwidth := 0 }}
    {{ range $images.Images }}
      {{/* Dimensions: image réelle ou ratio vidéo (défaut 16:9) */}}
      {{ $isVideo := default false .IsVideo }}
      {{ $imgWidth := 16 }}
      {{ $imgHeight := 9 }}
      {{ if $isVideo }}
        {{ $imgWidth = default 16 .VideoWidth }}
        {{ $imgHeight = default 9 .VideoHeight }}
      {{ else }}
        {{ $imgWidth = .Image.Width }}
        {{ $imgHeight = .Image.Height }}
      {{ end }}
      {{ $subwidth = add $subwidth (div (float $imgHeight) $imgWidth) }}
    {{ end }}
    {{ $width = add $width (div 1.0 $subwidth) }}
  {{ end }}
  {{ range $cindex, $images := $columns }}
      {{ $div := 0 }}
      {{ range $images.Images }}
        {{ $isVideo := default false .IsVideo }}
        {{ $imgWidth := 16 }}
        {{ $imgHeight := 9 }}
        {{ if $isVideo }}
          {{ $imgWidth = default 16 .VideoWidth }}
          {{ $imgHeight = default 9 .VideoHeight }}
        {{ else }}
          {{ $imgWidth = .Image.Width }}
          {{ $imgHeight = .Image.Height }}
        {{ end }}
        {{ $div = add $div (div (float $imgHeight) $imgWidth) }}
      {{ end }}
      {{ $colwidth := div (div 1.0 $div) $width }}
      {{ if (eq (len $columns) 1) }}
        <div class="md:flex flex-col min-h-full inherit" style="flex: 1 0 {{ mul 100.0 $colwidth -}}%">
          {{ range $images.Images }}
            {{ $isVideo := default false .IsVideo }}
            {{ $imgWidth := 16 }}
            {{ $imgHeight := 9 }}
            {{ if $isVideo }}
              {{ $imgWidth = default 16 .VideoWidth }}
              {{ $imgHeight = default 9 .VideoHeight }}
            {{ else }}
              {{ $imgWidth = .Image.Width }}
              {{ $imgHeight = .Image.Height }}
            {{ end }}
            {{ if .Blank  }}
              <div style="padding-bottom: {{ div (mul 100.0 $imgHeight) $imgWidth -}}%" class="relative md:block hidden"></div>
            {{ else }}
              {{ if isset . "Link" }}
                <a href="{{ .Link }}">
                  {{ if $isVideo }}{{ partial "video" . }}{{ else }}{{ partial "photo" . }}{{ end }}
                </a>
              {{ else }}
                {{ if $isVideo }}{{ partial "video" . }}{{ else }}{{ partial "photo" . }}{{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      {{ else }}
        <div class="flex flex-col min-h-full inherit" style="flex: 1 0 {{ mul 100.0 $colwidth -}}%">
          {{ range $images.Images }}
              {{ $isVideo := default false .IsVideo }}
              {{ $imgWidth := 16 }}
              {{ $imgHeight := 9 }}
              {{ if $isVideo }}
                {{ $imgWidth = default 16 .VideoWidth }}
                {{ $imgHeight = default 9 .VideoHeight }}
              {{ else }}
                {{ $imgWidth = .Image.Width }}
                {{ $imgHeight = .Image.Height }}
              {{ end }}
              {{ $dimension := div (div (mul 100.0 $imgHeight) $imgWidth) $div }}
              <div style="flex: 1 0  {{ $dimension -}}%">
                {{ if .Blank  }}
                  <div style="padding-bottom: {{ div (mul 100.0 $imgHeight) $imgWidth -}}%" class="relative md:block hidden"></div>
                {{ else }}
                  {{ if isset . "Link" }}
                    <a href="{{ .Link }}">
                      {{ if $isVideo }}{{ partial "video" . }}{{ else }}{{ partial "photo" . }}{{ end }}
                    </a>
                  {{ else }}
                    {{ if $isVideo }}{{ partial "video" . }}{{ else }}{{ partial "photo" . }}{{ end }}
                  {{ end }}
                {{ end }}
              </div>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
