{{ block "header" . }}
{{ if .Params.minimalHeader }}
    <header class="minimal_header">
      <div class="wrapped">
      <span class="title">
        <a href="/">
          {{ if .Site.Params.hasLogo }}
            <img src="/logo.svg" />
          {{ else }}
            {{ .Site.Title }}
          {{ end }}
        </a>
      </span>
      </div>
    </header>
{{ else }}
    <header class="main_header mx-8 lg:mx-auto" style="max-width: 825px;">
      <div class="mx-4 lg:mx-0 justify-between flex md:flex-row flex-col gap-4 items-center">
        <span class="title">
          <a href="/">
            {{ if .Site.Params.hasLogo }}
              <img src="/logo.svg" />
            {{ else }}
              {{ .Site.Title }}
            {{ end }}
          </a>
        </span>
        <div class="flex md:flex-row flex-col gap-8 items-center">
        <input id="burger" type="checkbox" />

        <label class="burger_label" for="burger">
          <span></span>
          <span></span>
          <span></span>
        </label>

        {{ partial "main_menu" . }}

        {{ partial "social_icons" . }}
        </div>
      </div>
    </header>
{{ end }}
{{ end }}
