{{ block "header" . }}
{{ if .Params.minimalHeader }}
    <header class="minimal_header">
      <div class="wrapped">
      <span class="title">
        <a href="/">
          {{ if .Site.Params.hasLogo }}
            <img src="/logo.svg" />
          {{ else }}
            {{ .Site.Title }}
          {{ end }}
        </a>
      </span>
      </div>
    </header>
{{ else }}
    <header class="main_header container max-w-4xl mx-auto">
      <div class="mx-4 xl:mx-0 flex md:flex-row flex-col justify-between items-center">
      <span class="title">
        <a href="/">
          {{ if .Site.Params.hasLogo }}
            <img src="/logo.svg" />
          {{ else }}
            {{ .Site.Title }}
          {{ end }}
        </a>
      </span>

      <input id="burger" type="checkbox" />

      <label class="burger_label" for="burger">
        <span></span>
        <span></span>
        <span></span>
      </label>
      {{ partial "main_menu" . }}
      {{ partial "social_icons" . }}
      </div>
    </header>
{{ end }}
{{ end }}
