{{ if .Site.Params.tinyletter.username }}

<p style="max-width: 56rem!important;margin: auto;margin-bottom: 60px;margin-top: -30px;">Envie d’échanger sur le sujet ? Rejoins-moi sur <a href="https://twitter.com/{{ .Site.Params.social.twitter }}" target="_blank">Twitter</a>, <a href="https://piaille.fr/@gregmignard" target="_blank">Mastodon</a> & <a href="https://instagram.com/{{ .Site.Params.social.instagram }}" target="_blank">Instagram</a>.
</p>


<div style="max-width: 57rem!important;margin: auto;margin-bottom: 60px;background-color: #F3F3F3;padding:42px; text-align:left;">

<h3 style="margin-bottom: -15px;">{{ .Site.Params.tinyletter.title }}</h3>
      </br>
      <p style="margin-bottom: 20px;">
      {{ .Site.Params.tinyletter.description }} <a href="http://slowisbeautiful.cool" target="_blank">En savoir plus →</a></br></p>

<div id="custom-substack-embed"> </div>

<script>
  window.CustomSubstackWidget = {
    substackUrl: "slowisbeautiful.substack.com",
    placeholder: "exemple@gmail.com",
    buttonText: "S'abonner",
    theme: "custom",
    colors: {
      primary: "#000000",
      input: "#FFFFFF",
      email: "#787878",
      text: "#FFFFFF",
    }
  };
</script>
<script src="https://substackapi.com/widget.js" async></script>

</div>

{{ end }}
