{{/* Partial pour afficher une vidéo en loop dans la grille */}}
{{ $src := .Image }}
{{ $videoWidth := default 16 .VideoWidth }}
{{ $videoHeight := default 9 .VideoHeight }}
{{ $ratio := 0.0 }}
{{ if gt $videoWidth 0 }}
  {{ $ratio = div (mul 100.0 $videoHeight) $videoWidth }}
{{ end }}

{{ if and $src (gt $ratio 0.0) }}
  <div style="padding-bottom: {{ $ratio }}%" class="relative box-border block">
    <video
      autoplay
      loop
      muted
      playsinline
      class="absolute top-0 left-0 w-full h-full object-cover"
      src="{{ $src.RelPermalink }}">
    </video>
  </div>
{{ end }}
