{{ define "main" }}
<div class="mb-8 md:container max-w-4xl mx-6 lg:mx-auto">
    <div class="mx-4 lg:mx-0">
      {{.Content}}
    </div>
</div>
  <div class="main">
    <div class="list journal">
      {{ $paginator := (.Paginate (where .Site.RegularPages "Type" "posts") 12) }}
      {{ range $index, $post := $paginator.Pages }}
        {{ partial "post.html" (dict "post" $post "index" $index "ctx" $)}}
      {{ end }}
    </div>
  </div>
  {{ template "_internal/pagination.html" . }}
{{ end }}
