{{ define "main" }}
{{ $image := .Resources.GetMatch "cover" | default (index (.Resources.ByType "image") 0) }}
<div class="max-w-4xl md:mx-auto text-left">
  <div class="mx-4 md:mx-0">
    <span class="date text-base opacity-25"> Le {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</span>
    <h1 class="text-4xl my-2">{{ .Params.emoji}} {{ .Title }}</h1>
    <h3 class="date text-base opacity-25 italic">{{ .Params.subtitle }}</h3>
  </div>
</div>
<div data-pswp class="main post max-w-4xl md:mx-auto">
  {{ if .IsTranslated }}
    {{ range .Translations }}
    <p class="translation en">
      <a href="{{ .Permalink }}">{{ T "also_available" }} {{ .Language.LanguageName }}</a>
    </p>
    {{ end}}
  {{ end }}
  {{ partial "gallery.html" . }}
  {{.Content}}
  {{if .Params.gear }}
    <p class="center t12"><i>Gear: </i>{{ delimit .Params.gear " ● " }}</p>
  {{ end }}
<p style="mb-8 mt-12">Envie d’échanger sur le sujet ? Rejoins-moi sur <a href="https://twitter.com/{{ .Site.Params.social.twitter }}" target="_blank">Twitter</a>, & <a href="https://instagram.com/{{ .Site.Params.social.instagram }}" target="_blank">Instagram</a>.
</p>

</div>
{{ partial "tinyletter.html" . }}
{{ end }}
