{{ define "main" }}
<div data-pswp class="shop-item main">
  <div id="thanksdiv" class="hidden shop-thanks">
      <div class="thanks center">
        Merci pour cet achat, #SHIPPING_NAME#!
      </div>
  </div>
<div class="post-title">
  <span class="category">
  <h1 class="text-4xl">{{ .Title }}</h1>
  <h3>{{ .Params.subtitle }}</h3>
</div>
  <div  class="shop-wrapper">
    <div class="shop-photo">
    {{ $original := .Resources.GetMatch "cover" | default (index (.Resources.ByType "image") 0) }}
    <figure >
      {{ if $original }}
        {{ $resized := $original.Resize "x100" }}
        <img class="lazyload"
            src="{{ $resized.Permalink }}"
            data-src="{{ $original.Permalink }}"
            data-zoom-src="{{ $original.Permalink }}"
            alt="{{ .Title }}" data-action="zoom">
      {{ end }}
    </figure>
    </div>
    <div class="shop-content">
      {{.Content}}
      {{ if .Params.price_id }}
        <form action="" method="post" id="stripe-form{{ if .Params.soldout }}-nope{{ end }}">
          <input type="hidden" name="price_id" value="{{.Params.price_id}}" />
          <button
            onclick="this.querySelector('svg').classList.toggle('hidden');this.querySelector('span').classList.toggle('hidden');"
            class=""
            id="checkout-button"
            type="submit"
            {{ if .Params.soldout}}disabled{{end}}
          >
            <svg class="hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            <span class="">{{ if .Params.soldout}}Sold out{{ else }}Commander{{ end }}</span>
          </button>
        </form>

        <div id="error-message"></div>

      {{ end }}
    </div>
  </div>
</div>

{{ end }}
