{{ define "main" }}
<div class="main">
  <div class="grid grid-cols-1 gap-12">
    {{ range (.Paginator 12).Pages }}
    {{ $image := .Resources.GetMatch "cover" | default (index (.Resources.ByType "image") 0) }}
    {{ $mini := $image.Fill "130x40" }}
    {{ $web := $image.Fill "1300x400" }}
    {{if $image }}
    <div class="post-thumb">
      <a class="no-decoration" href="{{ .RelPermalink }}">
        <picture>
          <img class="lazyload" src="{{$mini.Permalink}}" data-src="{{ $web.Permalink }}" style="width: 100%;">
        </picture>
      </a>
    </div>
    {{end}}
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
