{{ define "main" }}
<div class="main">
  <div class="grid grid-cols-1 gap-12">
    {{ range (.Paginator 12).Pages }}
    {{ $image := .Resources.GetMatch "cover" | default (index (.Resources.ByType "image") 0) }}
    {{ $mini := $image.Fill "130x40" }}
    {{ $web := $image.Fill "1300x400" }}
    {{if $image }}
    <div class="post-thumb relative ">
      <a class="no-decoration block group" href="{{ .RelPermalink }}">
        <div class=" group-hover:flex hidden absolute top-0 left-0 justify-items-center items-center justify-center w-full h-full bg-gray-800 bg-opacity-50 backdrop-blur-sm">
          <h1>{{.Title}}</h1>
        </div>
        <picture>
          <img class="lazyload" src="{{$mini.Permalink}}" data-src="{{ $web.Permalink }}" style="width: 100%;">
        </picture>
      </a>
    </div>
    {{end}}
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
