{{ define "main" }}
{{ $image := .Resources.GetMatch "cover" | default (index (.Resources.ByType "image") 0) }}
<div class="post-title">
  <span class="category"> Le {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
  </span>
  <h1 class="medium">{{ .Params.emoji}} {{ .Title }}</h1>
  <h3>{{ .Params.subtitle }}</h3>
</div>
<div data-pswp class="main post">
  {{ if .IsTranslated }}
    {{ range .Translations }}
    <p class="translation en">
      <a href="{{ .Permalink }}">{{ T "also_available" }} {{ .Language.LanguageName }}</a>
    </p>
    {{ end}}
  {{ end }}
  {{ partial "gallery.html" . }}
  {{.Content}}
  {{if .Params.gear }}
    <p class="center t12"><i>Gear: </i>{{ delimit .Params.gear " ● " }}</p>
  {{ end }}
</div>
{{ partial "tinyletter.html" . }}
{{ partial "three.html" (.Site.RegularPages.Related . ) }}
{{ end }}
