{{ define "main" }}
{{ $allimages := slice }}
{{/* Récupérer les images */}}
{{ range sort (.Resources.ByType "image") "Name" "desc"}}
  {{ $allimages = $allimages | append (dict "Image" . "IsVideo" false) }}
{{ end }}
{{/* Récupérer les vidéos */}}
{{ range sort (.Resources.ByType "video") "Name" "desc"}}
  {{ $allimages = $allimages | append (dict "Image" . "IsVideo" true) }}
{{ end }}
{{/* Trier le tout par nom */}}
{{ $allimages = sort $allimages "Image.Name" "desc" }}
{{ $rows := dict }}
{{ $columns := dict }}
{{ range $index, $img := $allimages }}
  {{ $columns = merge $columns (dict (string (mod $index 3)) (dict "Images" (slice $img)))}}
  {{ if eq (mod $index 3) 2 }}
    {{ $rows = merge $rows (dict (string (div $index 3)) $columns) }}
  {{ end }}
  {{ if eq (mod $index 3) 0 }}
    {{ $columns := dict }}
  {{ end }}
{{ end }}
  <div data-pswp class="w-full px-6">
    {{ partial "grid" $rows }}

    <div class="scroll-reward">
      <p>Tu es allé jusqu'au bout. Merci de prendre le temps.</p>
      <a href="/now/">Voir ce que je fais en ce moment →</a>
    </div>
  </div>
{{ end }}
