.bold {
  font-weight: 700;
}

.no-decoration {
  text-decoration: none;
  background-image: none !important;
  border-bottom: none;
}

.italic {
  font-style: italic !important;
}

.category {
  font-family:  var(--sans-serif-font);
  font-size: 1rem;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 0.05em;
  color: var(--accent);
  a {
    color: var(--accent);
    border-bottom: none;
  }
  a:hover { color: var(--onyx); }
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.date {
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.05em;
  color: rgba(0,0,0,0.3);
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.center {
  text-align: center;
}

.emoji {
  font-family: arial;
}

.t09 {
  font-size: 0.9rem;
}

.t12 {
  font-size: 1.2rem;
}

.t16 {
  font-size: 1.6rem;
}
.t21 {
  font-size: 2.1rem;
}
.t28 {
  font-size: 2.8rem;
}
.t37 {
  font-size: 3.7rem;
}
.t50 {
  font-size: 5.0rem;
}
.t67 {
  font-size: 6.7rem;
}
