.main_header {
  opacity: .95;
  padding: 20px 0px;
  .social {
    svg {
      transition: all .4s ease-in-out;
      &:hover {
        fill: var(--accent);
      }
    }
    @media only screen and (max-width: 812px) {
      display: none;
    }
    svg {
      margin: 0;
      margin-left: 10px;
    }
  }
  .title {
    margin: 0;
    font-size: 1.6rem;
    a img { width: inherit; height: 80px; margin-bottom: -8px; color: var(--onyx);}
    @media only screen and (min-width: 812px) {
      margin-top: 5px;
      top: 12px;
    }
    @media only screen and (max-width: 812px) {
      margin-left: 0;
    }
  }

  a, a:visited {
    border: 0;
    background-image: none;
    color: var(--onyx);
    font-weight: 300;
  }
  a:hover {
    background-image: none;
    border: 0;
    color: var(--accent);


  }
  @media only screen and (min-width: 812px) {

    .wrapped {
      margin: 0 auto;
      width: var(--max-width);

    }
    .main_menu ul {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      li:not(:first-of-type)::before {
        content: "•";
        Margin: 0 10px;
      }
    }
  }
  .main_menu li {
    list-style-type: none;
    a {
      font-family:  var(--sans-serif-font);
      font-weight: normal;
      font-size: 0.98rem;
      text-transform: lowercase;
    }
  }
}

.post-img {
  width: 100%;
  margin: 0 auto;
  height: 46rem;
}
.post-title {
  max-width: 58rem;
  text-align: center;
  margin: 20px auto;
  @media only screen and (max-width: 812px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  h1 a {
    border: 0;
    background-image: none;
  }
  h1 {
    text-transform: Normal;
  }
  h3 {
    text-transform: inherit;
    opacity: .4;
    font-family: var(--sans-serif-font);
    font-size: 1.4rem;
  }
}
