figure {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  margin-left: 0;
  margin-right: 0;
  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
  @media only screen and (max-width: 812px) {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }
}

.photoset {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25px;
  margin-bottom: 25px;
  &.always-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 812px) {
    margin-top: 16px;
    margin-bottom: 16px;
    grid-gap: 16px;
  }
  &.max-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.max-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
