.grid {
	margin: 0 auto;
        max-width: 90%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	align-content: flex-start;

	&:after {
    content: "";
    display: block;
    flex-grow: 10;
		outline: 2px solid #fff;
		position: relative;

  }

	.item {
		height: 40vh;
		flex-grow: 1;
		outline: 2px solid #fff;
		position: relative;
		background-size: 100%;

		img {
			max-height: 100%;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			object-fit: cover;
			display: block;
		}
	}
}


