.grid {
  @media only screen and (min-width: 812px) {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
  }
	padding-top: 2rem;
	padding-bottom: 3rem;
	margin: 0 auto;
        max-width: 85%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	align-content: flex-start;

	.item {
		height: 40vh;
		flex-grow: 1;
		outline: 2px solid #fff;
		position: relative;
		background-size: 100%;

		img {
			max-height: 100%;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			object-fit: cover;
			display: block;
		}
	}
}


