.related-wrapper {
  width: 100%;
  background-color: var(--white-background);
}
.related {
  max-width: var(--max-width);
  display: grid;
  grid-gap: 1.5rem;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  grid: auto-flow dense / repeat(4, 1fr);
  grid-column: 4;
  @media only screen and (max-width: 812px) {
    grid: auto-flow dense / repeat(2, 1fr);
    grid-column: 2;
    padding: 1rem;
  }
  margin: 0 auto;
  .tile {
    margin-top: 20px;
    margin-bottom: 30px;
    h3 {
      text-align: left;
    }
    a {
      color: var(--onyx);
      text-shadow: none;
      font-weight: normal;
    }
    h4 {
      font-family:  var(--sans-serif-font);
      text-align: left;
      opacity: 0.7;
      font-size: 1.1rem;
    }
    img {
      width: 100%;
    }
  }
  @media only screen and (max-width: 667px) {
    .tile {
      p, h3 {
        margin: 10px 0;
      }
    }
  }
}
